<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dimir.scanit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Scanner"
            android:label="@string/title_activity_scanner"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dimir.scanit.Home" />
        </activity>
        <activity
            android:name=".List"
            android:label="@string/title_activity_list"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dimir.scanit.Home" />
        </activity>
        <activity
            android:name=".NoteEdit"
            android:label="@string/title_activity_note_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sales"
            android:label="@string/title_activity_sales"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dimir.scanit.Home" />
        </activity>
        <activity
            android:name=".Community"
            android:label="@string/title_activity_community"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dimir.scanit.Home" />
        </activity>
        <activity
            android:name=".Product"
            android:label="@string/title_activity_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Item"
            android:label="@string/title_activity_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cart"
            android:label="@string/title_activity_cart"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dimir.scanit.Home" />
        </activity>
    </application>

</manifest>